body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg,
    #16c42d,
    #5befe3,
    #f3f39f,
    #7aeef1);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease-in-out infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,255,255,0.4);
}
input, button {
    margin: 15px 0;
    width: 100%;
    max-width: 250px;
    font-size: 20px;
}
button{
    background-color: aqua;
    border-radius: 5px;

}
.oculto{
  display: none;
}

.formularios{
  display: flex;
  gap: 20px;
}